p {
  font-family: Lato;
}

.holder{
  border-radius: 0%;
  border: black;
/* border-width: 1px;
border-style: solid; */
    /* border-color: black ;*/
    
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}